body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  position: fixed;
  display: flex;
  top: 0;
  height: 520px;
  top: 0;
  bottom: 0;
  left: 4rem;
  right: 4rem;
  margin: auto;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.main {
  flex: 1;
  height: 100%;
  background-color: #000;
}

.sidebar {
  width: 360px;
  background-color: #fff;
  padding: 32px 0 16px 0;
}

.close {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 32px;
  cursor: pointer;
  fill: #ddd;
}